<GMap @lat="51.507568" @lng="-0.127762" as |g|>
  <g.marker @lat="51.507568" @lng="-0.127762" as |marker|>
    <marker.infoWindow @isOpen={{true}}>
      <p id="test-complete">Test complete</p>
    </marker.infoWindow>
  </g.marker>
</GMap>