# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
/DEBUG/
!.*
.*/

# ember-try
/.node_modules.ember-try/

# the doc app uses a separate eslint config
/docs/

# build tests
/build-tests/app-template/
