# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# docs
/docs/

# dev
/lib/ast-transforms/debug-canvas-enforcer.js

# misc
/.bowerrc
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.js
/.git/
/.gitignore
/.prettierignore
/.prettierrc.js
/.github/
/.template-lintrc.js
/.watchmanconfig
/bower.json
/jsconfig.json
/config/ember-try.js
/CONTRIBUTING.md
/ember-cli-build.js
/testem.js
/build-tests/
/tests/
/yarn-error.log
/yarn.lock
.gitkeep

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
