{{#if _elementDestination}}
  {{#-in-element _elementDestination}}
    <div id={{_contentId}} style="position: absolute; opacity: 0.01;">
      {{#_private-api/detect-render didRender=(action _updateComponent)}}
        {{yield}}
      {{/_private-api/detect-render}}
    </div>
  {{/-in-element}}
{{/if}}
