{{#if _targetPane}}
  {{#-in-element _targetPane}}
    <div id={{_contentId}}>
      {{#_private-api/detect-render
        style=innerContainerStyle
        didRender=(action _updateComponent)}}
        {{yield}}
      {{/_private-api/detect-render}}
    </div>
  {{/-in-element}}
{{/if}}
