<div class="row">
  <div class="col-md-7 order-2 order-md-1">
    <section>
      <h5 id="components">Contextual components</h5>

      <p>In block form, the <LinkTo @route="docs.map"><var>g-map</var></LinkTo> component yields all sorts of map components. These contextual components automatically register with the parent and bind themselves to the map. Even better, they wait to render until the map is ready!</p>

      <p>The addon currently provides the following components:
        <ul>
          <li><LinkTo @route="docs.canvas">canvas</LinkTo></li>
          <li><LinkTo @route="docs.markers">marker</LinkTo></li>
          <li><LinkTo @route="docs.circles">circle</LinkTo></li>
          <li>rectangle</li>
          <li><LinkTo @route="docs.polylines">polyline</LinkTo></li>
          <li><LinkTo @route="docs.info-windows">infoWindow</LinkTo></li>
          <li><LinkTo @route="docs.controls">control</LinkTo></li>
          <li><LinkTo @route="docs.overlays">overlay</LinkTo></li>
          <li>autocomplete</li>
          <li><LinkTo @route="docs.directions">directions</LinkTo></li>
          <li><LinkTo @route="docs.directions">route</LinkTo></li>
          <li><LinkTo @route="docs.directions">waypoint</LinkTo></li>
        </ul>
      </p>
    </section>
    <section>
      <h5>Setting options on components</h5>

      <p>Almost every attribute passed to the component will be passed on directly as an option to the underlying Google Maps component. These docs don’t cover every available option for every component – that’s not the point of this addon. It’s up to you to find out the available options provided by Google Maps. I will leave helpful links to Google Maps guides and references like this where possible: <GoogleDocs @section="#release-version">Reference</GoogleDocs>.</p>
    </section>
    <section>
      <h5>Accessing component instances</h5>

      <p>Since the Ember components are just light wrappers for the actual Google map classes, you may need access to the instances of the map components. Each map component automatically registers with the parent map component – <LinkTo @route="docs.map"><var>g-map</var></LinkTo>. The parent map then provides a <var>publicAPI</var>. This object contains the the map component instances that are accessible by the plural of the component name. Using the <var>onceOnIdle</var> action, you can get access to this object once the map loads.</p>

      <CodeSnippet @name="map-public-api.js" />

      <CodeSnippet @name="map-once-on-idle.hbs" />

      <CodeSnippet @name="handle-once-on-idle.js" />
    </section>
    <p>Learn more about what you can do with these components in the next section.</p>
    <LinkToNext @nextPage={{this.nextPage}} />
  </div>
</div>