<div class="container-fluid">
  <div class="alerts-container">
    {{#each this.flashMessages.queue as |flash|}}
      <FlashMessage @flash={{flash}} />
    {{/each}}
  </div>
  <div class="d-sm-flex">
    <div class="col-sidebar">
      <NavMain @links={{this.links}} />
    </div>
    <div class="col flex-1">
      <main>
        {{outlet}}
      </main>
      <FooterMain />
    </div>
  </div>
</div>