<p class="m-0">Maintained by <b><a target="_blank" rel="noopener" href="https://github.com/sandydoo">Sander Melnikov</a> @ <a  target="_blank" rel="noopener" href="https://www.campusboard.co.uk">campusboard</a></b>.</p>
<p class="m-0">Follow the addon on <b><a target="_blank" rel="noopener" href="https://github.com/sandydoo/ember-google-maps">Github</a></b>.</p>
<a href="https://travis-ci.org/sandydoo/ember-google-maps" alt="Travis CI build status">
  <img src="https://travis-ci.org/sandydoo/ember-google-maps.svg?branch=master">
</a>
<a href="https://emberobserver.com/addons/ember-google-maps" alt="Ember Observer score">
  <img src="https://emberobserver.com/badges/ember-google-maps.svg">
</a>
