{{#link-to "index" class="no-link-decor"}}
  <h1 class="ember mb-3">ember google maps</h1>
  <h6>A <i>lightweight</i>, <i>declarative</i>, <i>composable</i> API for building ambitious map UIs in your <span class="ember">ember</span> apps.</h6>
{{/link-to}}
