<nav class="sticky-top sticky-top-offset">
  <ul class="nav flex-column justify-content-center">
    {{#each links as |l|}}
      <li class="nav-item">
        {{link-to l.title l.path class="nav-link"}}
      </li>
    {{/each}}
  </ul>
</nav>