.navbar-light {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  height: 70px;
}
.container-cover {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
}
.content-column {
  width: 66.666666%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px 16px;
}
.map-column {
  position: fixed;
  width: 33.333333%;
  height: calc(100% - 70px);
  top: 70px;
  left: 66.666666%;
}
.ember-google-map-cover {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}
.col-rental-card {
  padding-left: $grid-gutter-width / 4;
  padding-right: $grid-gutter-width / 4;
  padding-bottom: $grid-gutter-width / 2;
}
.rental-card {
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,0.2);
    transition: opacity 150ms ease-in-out;
    will-change: opacity;
    opacity: 0;
  }

  &.active:after {
    opacity: 1;
  }
}
.placeholder-image {
  padding-bottom: 63%;
  width: 100%;
}
.card-body .price {
  color: $green;
  font-weight: 800;
}

$color-list: $purple $red $orange $yellow $blue;
@for $i from 1 through length($color-list) {
  $color: nth($color-list, $i);
  .placeholder-image.color-type-#{$i} {
    background-color: lighten($color, 10);
  }
}