$yellow: #f8e08e;
$blue: #6083f2;
$purple: #2f3061;
$blue-gray: #545677;
$orange: #f4845f;
$dark-orange: darken($orange, 10);
$red: #db2b39;
$gray: #65737e;
$floral-white: #fffaf0;

$primary:       $blue-gray;
$info:          $yellow;

$body-bg: $floral-white;
$body-color: $blue-gray;
$link-color: $dark-orange;

$line-height-base: 1.56;
$font-family-sans-serif: 'Noto Sans', 'Open Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-cursive: 'Pacifico', 'Nunito', cursive;

$headings-font-family: 'Nunito', 'Noto Sans', 'Open Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$headings-font-weight: 800;

$grid-gutter-width: 32px;

$input-bg: lighten($floral-white, 3);

@import 'bootstrap-custom';
@import 'solarized-light';

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}
body.white {
  background: #fff;
}
.no-link-decor {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}
.ember {
  font-family: $font-family-cursive;
}
tt {
  color: $dark-orange;
  font-family: $font-family-monospace;
}
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
  max-width: 1440px;
  @include media-breakpoint-down(xs) {
    padding-left: inherit;
    padding-right: inherit;
  }
}
.col-sidebar {
  flex-shrink: 0;

  .nav-item:first-child > a {
    padding-top: 0;
  }

  @include media-breakpoint-up(sm) {
    text-align: right;
  }
}
.col-text {
  max-width: 720px;
}
.nav-link {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}
.nav-link.active {
  color: $link-hover-color;
  text-decoration: underline;
  text-decoration-style: ink;
}
.alerts-container {
  position: fixed;
  top: $grid-gutter-width;
  right: $grid-gutter-width;
  z-index: 2000;
}
.alert {
  opacity: 0;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &.active {
    opacity: 1;

    &.exiting {
      opacity: 0;
    }
  }
}
footer {
  padding: 1.5rem 0;
}
.sticky-top-offset {
  top: $grid-gutter-width;
}
.sticky-map {
  height: 100%;
  top: $grid-gutter-width;
  padding: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width;

  @include media-breakpoint-down(sm) {
    position: relative;
    top: 0;
  }
}
.ember-google-map {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  @include media-breakpoint-down(xs) {
    width: 100%;
    height: auto;
    padding-top: 100%;
  }
}
.ember-google-map,
.ember-google-map > div {
  background: rgba(34, 80, 102, 1) !important;
}
.ember-google-map-responsive {
  width: 100%;
  height: auto;
  padding-top: 100%;
  margin: 0;
}

.ember-google-maps-overlay {
  position: absolute;
}

/* Tooltips */

.emoji {
  margin-right: -0.2em;
}
// Overwrite Roboto to allow emoji!
div.gm-style {
  font-family: $font-family-sans-serif !important;
}
.tooltip {
  position: relative;
  max-width: 200px;
  padding: 6px 10px;
  color: $blue-gray;
  background-color: $orange;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  will-change: transform;
  transition: transform 0.2s cubic-bezier(0.485, 1.65, 0.545, 0.835);

  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    margin: -5px;
    background: inherit;
    transform: rotate(45deg);

    bottom: 0;
  }
}
.tooltip.active {
  transform: scale(1.25);
  z-index: 1000;
}

@import 'sweet-rentals';