<footer>
  © 2021 <a href="https://github.com/sandydoo">Sander Melnikov</a>
  <br>
  Licensed under <a href="https://github.com/sandydoo/ember-google-maps/blob/main/LICENSE.md">MIT</a>.
  <br>
  Follow the addon on <a href="https://github.com/sandydoo/ember-google-maps">GitHub</a>.
  <br>



  <div class="shields">
    <a href="https://github.com/sandydoo/ember-google-maps/actions?query=workflow%3ACI" title="GitHub Actions CI status">
      <img class="shield-inline" src="https://github.com/sandydoo/ember-google-maps/workflows/CI/badge.svg" alt="GitHub Actions CI status">
    </a>

    <a href="https://emberobserver.com/addons/ember-google-maps" alt="Ember Observer score">
      <img class="shield-inline" src="https://emberobserver.com/badges/ember-google-maps.svg" alt="Ember Observer score">
    </a>
  </div>
</footer>