<div class="col-12 col-md-8 m-auto">
  <p><span class="ember">ember-google-maps</span> tries to satisfy 3 main criteria:</p>
  <ol>
    <li>Lightweight</li>
    <li>Declarative</li>
    <li>Composable</li>
  </ol>

  <h5>Lightweight</h5>

  <p>The main star of the show is the mapping library you want to use. An addon like this should help integrate that library into the <span class="ember">ember</span> framework. Too often you see addons in <span class="ember">ember</span> and react essentially reimplementing the entire mapping library's API just to shim the functionality into the framework. This always results in a needlessly bloated and tightly coupled addon.</p>

  <p>This addon sets a few groundrules on how to define options and events and seamlessly passes them to the mapping library – no explicit mapping, munging or asserting.</p>

  <h5>Declarative</h5>

  <p>90% of your mapping needs can be satisfied with just a few lines of handlebars and some actions. By using the <span class="ember">ember</span> tools we love so much, you can stop worrying about the how and focus on the what. This is especially true for the more complex features like custom HTML markers!</p>

  <h5>Composable</h5>

  <p>Contextual components make it easy to create and build up your map.</p>

  {{link-to "Create a map ›" "docs.map" tagName="button" role="button" classNames="btn btn-primary"}}
</div>