<div class="row">
  <div class="col-12 col-md-8 m-auto">
    <p>It's time to show what we can accomplish with these tools! It seems like the most popular examples are Airbnb-like interfaces – a list of data on one side and a map visualising it on the other side. Even the <span class="ember">ember</span> guides create a rentals website!</p>

    <p>Keep in mind this is just a visual example. Let's simulate fetching a geo-bound ajax query from a BE server by filtering an array of random locations as you pan the map. Let's also attach some mouseover effects!</p>

    <p><span class="badge badge-primary">Tip</span> You might want to view this demo on a device with a larger screen.</p>

    {{link-to "View rentals example ›" "examples.sweet-rentals" classNames="btn btn-primary"}}
  </div>
</div>