<div class="row">
  <div class="col-12 col-md-8 m-auto">
    <h5>Installation</h5>

    {{code-snippet name="installation.sh"}}

    <h5>Configuration</h5>

    <p>You can configure the options used for loading the Google Maps SDK in your app's <tt>config/environment.js</tt>. Only the <tt>key</tt> option is <b>required</b>, however, from first-hand experience, I would suggest explicitly setting the language and version to avoid any nasty surprises.</p>

    {{code-snippet name="config.js"}}

    <p>That's it. You're now ready to create a map.</p>

    {{link-to "Create map ›" "docs.map" tagName="button" role="button" classNames="btn btn-primary"}}
  </div>
</div>
