<div class="row">
  <div class="col-md-6">
    <h5 id="markers">Creating markers</h5>

    <p>You can create a basic marker with the yielded <tt>marker</tt> component. Once again, you can use either <tt>lat</tt> and <tt>lng</tt> or <tt>position</tt> to set the position.</p>

    <p>Every attribute passed to the marker will be passed on as an option to the marker, much like with the <tt>g-map</tt> component. Events work in the same way.</p>

    {{code-snippet name="basic-markers.hbs"}}

    <p>On to circles!</p>
    {{link-to "Circles ›" "docs.circles" tagName="button" role="button" classNames="btn btn-primary"}}
  </div>
  <div class="col-md-6 sticky-top sticky-map">
    {{#g-map lat=london.lat lng=london.lng
      zoom=12
      styles=mapStyle
      classNames="ember-google-map-responsive" as |g|}}
      {{#each londonLocations as |l|}}
        {{g.marker lat=l.lat lng=l.lng draggable=true onClick=(action "flashMessage" (concat "Clicked: " l.lat ", " l.lng))}}
      {{/each}}
    {{/g-map}}
  </div>
</div>