<div class="row">
  <div class="col-md-7 order-2 order-md-1">
    <section>
      <h5>Creating polylines</h5>
      <p>Use the <tt>polyline</tt> component to create a new polyline.</p>

      {{code-snippet name="basic-polylines.hbs"}}

      {{#doc-tip badgeText="Test"}}
        Click on the map to append new points to the polyline!
      {{/doc-tip}}
    </section>
    <section>
      <h5>Observing changes to the path</h5>

      <p>Polylines are slightly special because the path attribute is an array, which can't be watched for changes by <tt>didReceiveAttrs</tt> – the hook this addon uses to avoid creating hundreds of observers.</p>

      <p>To combat this issue, the addon defines the <tt>_watchedOptions</tt> concatenated array. The <tt>polygon</tt> component populates it with the <tt>path.[]</tt> key, which is used to dynamically create an observer.</p>
    </section>

    <p>{{nextPage.text}}</p>
    {{link-to-next nextPage}}
  </div>
  <div class="col-md-5 order-1 order-md-2 sticky-top sticky-map">
    {{#g-map lat=london.lat lng=london.lng
      zoom=10
      styles=primaryMapStyle
      classNames="ember-google-map-responsive"
      onClick=(action "appendPolyline") as |g|}}
      {{g.polyline path=flightCoordinates
        geodesic=true
        strokeColor=fillColor
        strokeOpacity=1.0
        strokeWeight=3}}
    {{/g-map}}
  </div>
</div>
