<nav class="navbar navbar-expand-lg">
  <div class="container">
    {{#link-to "index" class="no-link-decor"}}
      <div class="navbar-brand ember">ember google maps</div>
    {{/link-to}}

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{#link-to "index" class="nav-link"}}
            Home
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "docs.about" class="nav-link"}}
            Docs
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}
