<nav class="navbar navbar-expand-lg">
  <div class="container">
    <LinkTo @route="index" class="no-link-decor">
      <div class="navbar-brand ember">ember google maps</div>
    </LinkTo>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <LinkTo @route="index" class="nav-link">
            Home
          </LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo @route="docs.about" class="nav-link">
            Docs
          </LinkTo>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}
